.block
{
    background-color: rgb(24, 24, 133);
    width:30%;
    margin: auto;
}
.bg
{   width:100%;
    height:49.5vw;
    background-image: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
  -webkit-filter: blur(8px);

}
.loginBox
{
    background-color: rgba(8, 8, 8, 0.61);
    color: white;
    width:500px;
    height:auto;

    margin-left:40%;
    margin-right:40%;
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    padding: 30px;
    border: 5px solid rgb(255, 238, 0);
    border-radius: 25px;
    z-index:2;
}
#submit
{
  background-color: #040faa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  float:right;
}
.register
{
    font-weight: bold;
    float: left;
    padding-top: 5px;
    padding-left: 20px;
}
#regLink
{
    color:rgb(255, 238, 0);
}
#regLink:hover
{
    color:rgb(255, 25, 25);
}
#submit:hover
{
    background-color: #2530c4; 
}
#logo
{
    width:50%;
    display: flex;
    align-items: center;
    margin-left:25%;
    margin-right:25%;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
.credentials
{
    text-align: center;
}
.footer
{
    color:white;
    list-style:none;
}
ul.footer li
{
    display: inline-block;
    padding: 0% 0.5%;
    min-width: 2%;
  text-align: center;
}
ul.footer li:not(:last-child)
{
    border-right: 1px solid white;
}
h2
{
    text-align: center;
}
body
{
    background-color: black;
}